In [8]:
""" Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function."""


#Ans:- 
t= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

type(t)

sorted_players = sorted(t, key=lambda x: x[1], reverse=True)

In [9]:
print(sorted_players)

In [11]:
"""Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

l =[1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
"""
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')"""

number=[1,2,3,4,5,6,7,8,9,10]
output=tuple(map(lambda x:str(x),number))

print(output)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [33]:
"""Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25."""

from functools import reduce

numbers = range(1,25)

prod = reduce(lambda x,y :x*y, numbers)

print(prod )

620448401733239439360000

In [44]:
''' Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function. '''
l= [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

div = list(filter(lambda x : x % 2 ==0 and x %3 ==0 ,l))

print(div)

[6, 60, 90, 120]

In [56]:
"""Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function. """

l= ['python', 'php', 'aba', 'radar', 'level']

print("orignal list",l)

palindrom= list(filter(lambda x: (x == "".join(reversed(x))),l)) 
print("palindrome_list",palindrom)

orignal list ['python', 'php', 'aba', 'radar', 'level']
palindrome_list ['php', 'aba', 'radar', 'level']

palindrome_list ['php', 'aba', 'radar', 'level']