In [5]:
#first question solution(String)
name = "sumit"

print(name)
type(name)

sumit

str

In [8]:
#1.2(list)

l = [1,2,3,4,5,6,"sumit_madame",45.90, 20+3J]

print(type(l))
type(l)

<class 'list'>

list

In [9]:
#1.3
x =10.44
type(x)

float

In [10]:
my_tup=("apple","oranage","banana")

type(my_tup)

tuple

In [11]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
"""
#ANSWER 
"""
1---->String
2---->Syntax error
3----->list
4------>float
"""

1.0

In [17]:
#Question_number_third
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

"""

x=20
y=10

z  = x/y  #this is division operator
z1 = x%y  # this is modulus operator which gives reminder
z2 = x//y #	This is Floor division operator
z3 = x**y #print(x ** y) #same as 2*2*2*2*2  (Exponentiation)

print(z)
print(z1)
print(z2)
print(z3)

2.0
0
2
10240000000000

In [18]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

li =[1,2,3,4,5,"sumit","sahil",56.0 , 20+56j ]

for i in li:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [20]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

a=int(input())
b=int(input())
c=0
if a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 10
 50

not divisible

In [28]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

li =[1,2,3,45,65,12,34,54,23,12,34,24,24,344,44,4444,189,987,223,200,2121,9080,1212,567,38]
li1=[]
li2=[]
for i in li:
    if i%3==0:
        li1.append(i)
    else:
        li2.append(i)
li1

[3, 45, 12, 54, 12, 24, 24, 189, 987, 2121, 1212, 567]

In [29]:
li =[1,2,3,45,65,12,34,54,23,12,34,24,24,344,44,4444,189,987,223,200,2121,9080,1212,567,38]
li1=[]
li2=[]
for i in li:
    if i%3==0:
        li1.append(i)
    else:
        li2.append(i)
li2

[1, 2, 65, 34, 23, 34, 344, 44, 4444, 223, 200, 9080, 38]

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""
"""
#  Ans:-IN MUTABLE WE CAN NOT CHANGE OR WE CAN NOT MODIFY THE VARIBLE DATA OBJECT CAN NOT BE ALTERD
#IN IMMUTABLE WE CAN CHANGE OR MODIFY THE VARIBLE NAME DATA AN MANY OPERTATION

# Creating a list  
list1 = ['Python', 'Java', 23, False, 5.3]  
print("The original list: ", list1)  
  
# Changing the value at index 2 of the list  
list1[2]='changed'  
print("The modified list: ", list1)

"""