In [2]:

def test(a,b):
  return a+b

In [3]:
test(10,20)

30

In [5]:
test("sumit"," ram")

'sumit ram'

In [6]:
test([10,20,30],[30,40,50])

[10, 20, 30, 30, 40, 50]

In [7]:
test((10,20,30,"sumit"),(40,50,"sahil"))

(10, 20, 30, 'sumit', 40, 50, 'sahil')

In [9]:
class data_science():
  def time(self):
    print("Morning class:-10AM")
  def type(self):
    print("this is offline class:-Rajiv gandhi chowk")
  def price(self):
    print("the price of class is :-700/-")

class web_dev():
   def time(self):
    print("Evening class :- 6PM")
   def type(self):
    print("This is online class:-Teams")
   def price(self):
    print("the price of class is :-350/-")

In [10]:
def class_parcel(class_objects):
  for i in class_objects:
    i.time()
    i.type()
    i.price()

In [11]:
data_sc = data_science()
web = web_dev()

In [12]:
class_objects=[data_sc,web]

In [13]:
class_parcel(class_objects)

Morning class:-10AM
this is offline class:-Rajiv gandhi chowk
the price of class is :-700/-
Evening class :- 6PM
This is online class:-Teams
the price of class is :-350/-

In [14]:
class data_science1:

    def syllabus(self) :
        print("this is my syllabus for data science masters ")

In [15]:
class web_dev1:

    def syllabus(self) :
        print("this is  my subllabus for web dev" )

In [16]:
def class_parcer(class_obj):
    for i in class_obj :
        i.syllabus()

In [27]:
data = data_science1()

In [28]:
web1 = web_dev1()

In [29]:
class_obj = [data , web1]

In [30]:
class_parcer(class_obj)

this is my syllabus for data science masters
this is  my subllabus for web dev

In [31]:
class India():
	def capital(self):
		print("New Delhi is the capital of India.")

	def language(self):
		print("Hindi is the most widely spoken language of India.")

	def type(self):
		print("India is a developing country.")

class USA():
	def capital(self):
		print("Washington, D.C. is the capital of USA.")

	def language(self):
		print("English is the primary language of USA.")

	def type(self):
		print("USA is a developed country.")

obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
	country.capital()
	country.language()
	country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.